#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #0369a1;
  font-weight: 500;
}
nav a:hover {
  text-decoration: underline;
}
